body {
    font-family: 'Montserrat', sans-serif;
    background-color:black;
    color: white;
    overflow:hidden;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}

label {
    font-size: 12px;
}

input[type="checkbox"] {
    display: none!important;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    color: lightgrey;
    border: solid;
    border-color: rgb(131, 129, 129);
    border-width: 2px;
}

input[type="checkbox"]:checked + label{
    color: black;
    border:solid;
    border-width: 2px;
}

input[type="checkbox"] ~ input {
    color : lightgrey;
    width : 80px;
    margin-top : 5px;
    margin-bottom : 5px;
}

input[type="checkbox"]:checked ~ input {
    color: black;
}

input[type="checkbox"] ~ span {
    color : lightgrey;
    font-size: 12px;
}

input[type="checkbox"]:checked ~ span {
    color: black;
}

#grid-container {
    display: grid;
    grid-template-columns: minmax(0,1fr) 50%;
    grid-template-areas: 
    'clock clock'
    'irrigation humidity'
    'irrigation valves';
}

#clock {
    margin: 2cm;
    grid-area: clock;
    display: block;
    color:white
}

#irrigationPlans {
    grid-area: irrigation;
}

#humidity {
    grid-area: humidity;
}

#humidity-counter {
    font-size: 90px;
}

#valves {
    grid-area: valves;
}

#valveWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.time {
    font-size: 64px;
}

.date {
    font-size: 24px;
}
