.tiles{
    height:150px;
    width:150px;
    float:left;
    display: flex;
    justify-content:center;
    margin:5px 5px 5px 5px;
    padding:2px; 
    text-align:center;
    line-height: 250px;
    color: black;
}

.irrigationTile {
    background-color: white;
    background-image: url(../img/event.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}

.valveTile{
    background-color: white;
    background-image: url(../img/valve.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}

.addTile{
    background-color: rgb(37, 39, 39);
    font-size: 50px;
    align-items: center;
    color: white;
    border: solid;
    border-color: white;
    border-width: 2px;
}

.selectedTile{
    background-color: darkorange;
}